<div class="redis-snippets">
  <h1 class="h1">Snippets</h1>

  <%= form_tag "", method: :put, class: "redis-snippets__form" do |f| %>
    <fieldset class="redis-snippets__fieldset">
      <ol class="redis-snippets__list">
        <% RedisSnippets::Engine.config.redis_snippets[:keys].each do |key| %>
          <li class="redis-snippets__snippet">
            <%= label_tag key.to_s, key.to_s, class: "redis-snippets__snippet-label" %>
            <%= text_area_tag "snippets[#{key}]", SnippetStoreService.send(snippet_key(key)), cols: 120, rows: 10 %>
          </li>
        <% end -%>
      </ol>
    </fieldset>
    <fieldset class="redis-snippets__actions">
      <%= button_tag "Submit", class: "redis-snippets__submit" %>
    </fieldset>
  <% end -%>
</div>
